<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Club</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="form">
        <h1 style="margin-bottom: 15px;">Join the Club</h1>
        <form action="/join-club" method="post" class="login-form">
            <div class="form-group">
                <label for="passcode">Enter Passcode:</label>
                <input type="number" id="passcode" name="passcode" required>
            </div>
            <button type="submit" class="submit-button">Join</button>
        </form>
    </div>
</body>

</html>
